@font-face {
  font-family: "PT Sans";
  src: url("/Test-Mailiq/fonts/A PT_Sans-Web-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "BERNIER";
  src: url("/Test-Mailiq/fonts/A BERNIERRegular-Regular.otf") format("truetype");
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-orange: #d68c67;
  --color-orange-light: #ffd6b6;
  --color-blue: #4f728f;
  --color-blue-light: #537490;

  --color-button: linear-gradient(90deg, #fe8a33, #da785d);
  --border-radius: 5px;

  --font-family-base: "PT Sans", sans-serif;
  --font-family-accent: "BERNIER", sans-serif;

  --container-width: 1305px;
}

* {
  transition: all 0.3s ease;
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-black);
  background-color: var(--color-white);
  padding-top: 65px;
  scroll-behavior: smooth;
}

li,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 80px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-orange);
  font-family: var(--font-family-accent);
  line-height: 1.1;
  margin: 0;
}

.title-medium {
  font-size: 40px;
  color: var(--color-blue);
}
.highlighted-text {
  color: var(--color-blue-light);
}

a {
  color: var(--color-black);
  text-decoration: none;
}
a:hover {
  color: var(--color-orange);
}

p {
  margin-block: 0;
}

button {
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--color-button);
  border: none;
  border-radius: 5px;
  padding-inline: 50px;
  padding-block: 10px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding-inline: 120px;
  min-height: 65px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--color-white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-logo-img {
  min-width: 40px;
}

.header-menu-list {
  display: flex;
  column-gap: 24px;
}

.header-actions {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
}

/* Banner */
.banner {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  background-image: url(/Test-Mailiq/image/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 700px;
  padding-top: 65px;
  padding-inline: 20px;
}

.banner-desc {
  margin-top: 40px;
}
.banner-desc-item::before {
  content: "•";
  color: var(--color-orange);
}

.banner-button {
  margin-top: 40px;
}

.banner-img img {
  scale: 1.1;
}

/* Boxes */
.box {
  margin-top: -80px;
}

.box-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 20px;
}

.box-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 1.3;
  max-width: 190px;
  height: 100px;
  background-image: url("/Test-Mailiq/image/bg-box.png");
  padding-inline: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid var(--color-orange-light);
}

/* For */
.for {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.for-content {
  display: flex;
  align-items: center;
  width: 1000px;
}

.for-card {
  background-image: url("/Test-Mailiq/image/for-bg.jpg");
  padding-inline: 60px;
  padding-block: 30px;
  border: 5px solid var(--color-orange-light);
  margin-right: -5px;
}

.for-content img {
  border: 5px solid var(--color-orange-light);
}

/* Materials */
.materials-cotainer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.materials-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.materials-list {
  margin-top: 30px;
  display: flex;
  column-gap: 10px;
}

.materials-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  gap: 10px;
  position: relative;
}

.paints-list {
  display: none;
  position: absolute;
  top: 60%;
  left: 0;
  background: white;
  border: 2px solid var(--color-blue-light);
  border-radius: 20px;
  padding-top: 60px;
  z-index: 100;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  width: 415px;
  line-height: 1;
  padding-bottom: 10px;
}

.paints-list ul {
  list-style: disc;
  padding-left: 20px;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.paints-list li {
  margin-bottom: 5px;
}

.paints-list li::before {
  content: "•";
  color: var(--color-orange);
  padding-right: 5px;
}

.materials-item img {
  max-width: 75px;
}

.materials-item-title {
  font-size: 20px;
}

.materials-desc {
  line-height: 1;
  text-align: center;
}

.materials-button {
  font-size: 12px;
  color: var(--color-blue);
  background: transparent;
  border: 2px solid var(--color-blue);
  border-radius: 20px;
  padding-inline: 25px;
  padding-block: 5px;
  z-index: 200;
}
.materials-button:hover {
  color: var(--color-blue);
  background: #edfbfe;
  border: 2px solid var(--color-blue);
  scale: 1.1;
}

.materials-text {
  margin-top: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  border-top: 4px solid var(--color-orange);
  padding-top: 20px;
  width: 70%;
}

/* Tarif */
.tarif-container {
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/Test-Mailiq/image/bg-tarif.jpg");
}

.tarif-list {
  margin-top: 20px;
  display: flex;
  column-gap: 30px;
  padding-inline: 20px;
}

.tarif-item {
  text-align: center;
  width: 270px;
  height: min-content;
  background-color: var(--color-white);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.tarif-item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 30px;
  text-align: center;
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 10px;
}

.tarif-item img {
  padding: 5px;
}

.tarif-item-list {
  text-align: left;
  padding-inline: 10px;
  line-height: 1.3;
}
.tarif-item-item::before {
  content: "•";
  color: var(--color-orange);
}
.tarif-item-item:not(:last-child) {
  padding-bottom: 10px;
}

.tarif-item-old-price {
  margin-top: 20px;
  color: var(--color-blue);
  font-weight: 200;
  font-size: 32px;
}
.tarif-item-price {
  margin-top: 20px;
  color: var(--color-blue);
  font-size: 50px;
}

.tarif-item-translate-button {
  margin-top: 20px;
  padding: 0;
  width: 28px;
  height: 28px;
  background: #ffd6b6;
  border-radius: 0;
  cursor: pointer;
}

.tarif-item-translate-button.active {
  background: #d68c67 !important;
  color: white;
}

.tarif-item-translate-button:hover:not(.active) {
  background: #ffedd9;
}

.tarif-item-action {
  margin-top: 20px;
}

/* Questions */
.quetions-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.question-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.question-item {
  border: 5px solid var(--color-orange-light);
  padding-block: 20px;
  padding-left: 10px;
  width: 640px;
  text-align: left;
}

.question-item-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: transparent;
  color: var(--color-blue);
  border: none;
}
.question-item-btn.active {
  color: var(--color-orange);
}
.question-item-btn::after {
  padding-right: 20px;
  content: url("/Test-Mailiq/icons/arrow.svg");
  transition: transform 0.1s ease;
}
.question-item-btn[aria-expanded="true"]::after {
  transform: translateY(-50%) rotate(-90deg);
}

.collapse {
  margin-top: 10px;
}

/* Footer */
.footer-content {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-block: 100px;
  line-height: 3;
}
